<div class="body1">
    <div class="body2">
        <header class="navbar navbar-default navbar-fixed-top" id="header">
            <div class="navbar-inner" ui-scrollfix>
                <div class="container" ng-cloak>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="showXsMenu = !showXsMenu">
                            <span class="sr-only">[[[translate ToggleNavigation]]]</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="{{rootPath}}" ng-click="navigateToView(rootPath)" ng-bind="rootTitle"></a>
                        
                        <div class="visible-xs navbar-notifications">
                            <a ng-repeat="notification in notifications" href="{{notification.Path}}" ng-click="gotoNotification(notification)" ng-show="notification.Count > 0">
                                <span ng-if="notification.Icon" class="glyphicon" ng-class="notification.Icon"></span>
                                <span class="badge" ng-bind="notification.Count" ng-class="notificationClass(notification)"></span>
                            </a>
                            <a href="#" ng-if="userNotVerified && userLoggedIn">
                                <span>
                                    <span class="badge" style="background-color: #a94442" data-toggle="tooltip" data-placement="bottom" title="[[[translate EmailNotVerified]]]">!</span>
                                </span>
                            </a>
                        </div>

                    </div>

                    <nav class="hidden-xs">
                        <ul class="nav navbar-nav navbar-left" id="navbar-menu">
                            <li>
                                <a href="{{rootPath}}" ng-if="!hasNavigationTree" ng-click="navigateToView(rootPath)" role="button" class="navbar-brand">
                                    <span class="glyphicon glyphicon-home"></span> <span ng-bind="rootTitle"></span>
                                </a>
                            </li>
                            <li class="dropdown" ng-if="hasNavigationTree">
                                <a role="button" class="dropdown-toggle navbar-brand">
                                    <span ng-bind="rootTitle"></span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{rootPath}}" ng-click="navigateToView(rootPath)" role="button" class="navbar-brand">
                                            <span class="glyphicon glyphicon-home"></span> <span ng-bind="rootTitle"></span>
                                        </a>
                                    </li>
                                    <li ng-repeat="item in navigationTree" style="{{item.style}}">
                                        <a href="{{item.Url}}" ng-click="navigateToView(item.Url)" ng-bind="item.Title"></a>
                                    </li>
                                </ul>
                            </li>

                            <li ng-repeat="menu in topMenu" ng-style="{ active: path === menu.Url }">
                                <a href="{{menu.Url}}" ng-click="navigateToView(menu.Url)" ng-bind="menu.Title"></a>
                            </li>
                        </ul>

                        <form class="navbar-form navbar-left" role="search" ng-if="hasSearch">
                            <div class="input-group search-panel">
                                <input type="text" class="form-control" placeholder="Search" ng-model="getScope().searchText">
                                <ul class="results" ng-show="searchText.length > 0">
                                    <li ng-if="searchResults.length == 0">No results found</li>
                                    <li ng-repeat="result in searchResults">
                                        <a href="{{result.Url}}" ng-click="navigateToView(result.Url)">
                                            <span class="search-result-name" ng-bind="result.Name"></span>
                                            <span class="search-result-body" ng-bind-html="result.Text"></span>
                                        </a>
                                    </li>
                                    <li><button class="btn btn-default" ng-click="clearSearch()">Close</button></li>
                                </ul>
                            </div>
                        </form>
                        
                        <ul ng-if="languages && languages.length" class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a role="button" class="dropdown-toggle">
                                    <img ng-if="selectedLanguage.ImageUrl" ng-src="{{selectedLanguage.ImageUrl}}" class="language-icon" /> <span ng-bind="selectedLanguage.ShortName"></span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="language in languages">
                                        <a href="{{language.Url}}">
                                            <img ng-if="language.ImageUrl" ng-src="{{language.ImageUrl}}"/> {{language.Name}} ({{language.ShortName}})
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            
                            <li ng-repeat="notification in notifications" class="navbar-notification" ng-show="notification.Count > 0">
                                <a href="{{notification.Path}}" ng-click="gotoNotification(notification)">
                                    <span ng-if="notification.Icon" class="glyphicon" ng-class="notification.Icon"></span>
                                    <span ng-bind="notification.Title"></span>
                                    <span class="badge" ng-bind="notification.Count" ng-class="notificationClass(notification)"></span>
                                </a>
                            </li>

                            <li class="dropdown" ng-show="!userLoggedIn && hasLogin">
                                <a role="button" class="dropdown-toggle"><span class="glyphicon glyphicon-user" style="font-size:small"></span> [[[translate User]]] <b class="caret"></b></a>
                                <div class="dropdown-menu">
                                    <form role="form" class="login-form">
                                        [[[include Login.html]]]
                                    </form>
                                </div>
                            </li>

                            <li class="dropdown" ng-show="userLoggedIn">
                                <a role="button" class="dropdown-toggle">
                                    <span ng-if="userNotVerified">
                                        <span class="badge" style="background-color: #a94442" data-toggle="tooltip" data-placement="bottom" title="[[[translate EmailNotVerified]]]">!</span>
                                        <span>&nbsp;</span>
                                    </span>
                                    <span class="glyphicon glyphicon-user" style="font-size:small"></span> {{userName}} <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{profilePath}}" ng-click="navigateToView(profilePath)">[[[translate Profile]]]</a></li>
                                    <li><a href="#" ng-click="doLogout()">[[[translate Logout]]]</a></li>
                                </ul>
                            </li>

                            <li ng-if="showConfiguration"><a href="{{configurationPath}}" ng-click="navigateToView(configurationPath)"><span class="glyphicon glyphicon-cog"></span></a></li>
                        </ul>
                    </nav>
                    
                    <nav class="visible-xs" collapse="!showXsMenu">
                        <ul class="nav navbar-nav" id="navbar-menu-small">
                            <li ng-show="!userLoggedIn && hasLogin">
                                <a ng-click="showLogin()">
                                    <span class="glyphicon glyphicon-user" style="font-size:small"></span> [[[translate User]]]
                                </a>
                            </li>

                            <li ng-show="userLoggedIn">
                                <a href="{{profilePath}}" ng-click="navigateToView(profilePath)">
                                    <span class="glyphicon glyphicon-user" style="font-size:small"></span> <span>{{userName}}</span>
                                </a>
                            </li>

                            <li ng-show="userLoggedIn">
                                <a href="#" ng-click="doLogout()">[[[translate Logout]]]</a>
                            </li>

                            <li>
                                <a href="{{rootPath}}" ng-click="navigateToView(rootPath)">
                                    <span class="glyphicon glyphicon-home"></span> <span ng-bind="rootTitle"></span>
                                </a>
                            </li>
                            <li ng-repeat="item in navigationTree" style="{{item.style}}">
                                <a href="{{item.Url}}" ng-click="navigateToView(item.Url)" ng-bind="item.Title"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <div class="breadcrumb-host" ui-scrollfix ng-if="breadcrumbs.length > 0 || loadingNewPage" ng-cloak>
            <div class="container">
                <ul class="breadcrumb">
                    <li ng-repeat="item in breadcrumbs">
                        <a href="{{item.Url}}" ng-click="navigateToView(item.Url)" ng-bind="item.Text"></a>
                    </li>
                    <li class="active" ng-bind="title"></li>
                </ul>
                <span ng-if="loadingNewPage"><span us-spinner="{radius:2,width:2,length:3,lines:9,top:'15px',left:'-4px',position:'relative'}"></span></span>
            </div>
        </div>
        
        <div class="loadmessage container" ng-cloak>[[[translate PleaseWaitLoading]]]</div>

        <div class="contents container" ng-cloak>
            <div class="toolbar">
                <button ng-repeat="button in toolbarButtons" type="button" class="btn btn-default" ng-disabled="!isToolbarButtonEnabled(button.Id)" ng-click="onToolbarButtonClick(button.Id)" ng-bind="button.Text"></button>
            </div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.id)"><div ng-bind="alert.message"></div></alert>
            <div bind-compiled-html="{ name: 'bindBody', scope: getViewScope }">
                [[[translate PleaseWaitLoading]]]
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>This site is built on <a href="http://www.lessmarkup.com">LessMarkup Engine</a></p>
    </div>
</div>
