@using LessMarkup.Engine.HtmlTemplate
@model LessMarkup.UserInterface.Model.Structure.NodeEntryPointModel
@{
    /* This Source Code Form is subject to the terms of the Mozilla Public
     * License, v. 2.0. If a copy of the MPL was not distributed with this
     * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
    
    Layout = null;
}<!DOCTYPE html>
<html lang="en" ng-app="application" ng-controller="main">
    <head>
        @* <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> *@
        <meta name="viewport" content="width=device-width" />
        <link href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css">
        <link href="/minify.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
        <title ng-bind="title">@Model.Title</title>
    </head>
    <body>
        @Html.RenderTemplate("~/Views/InputFormTemplate.html")
        @Html.RenderTemplate("~/Views/Body.html")
        @Html.Raw(Model.ScriptInitialData)
        <script src="/minify.js" data-main="/scripts/main"></script>
    </body>
</html>
