<div ng-controller="nodelist">
    <div ng-if="nodes.length == 0">
        <button ng-click="createNode(null)">[[[translate CreateRootNode]]]</button>
    </div>
    <ul class="nodes">
        <li ng-repeat="node in nodes" ng-style="getLevelStyle(node)" ng-class="{'node-disabled' : !nodeEnabled(node)}">
            <div>
                <span class="title" ng-bind="node.data.title" ng-click="changeProperties(node)"></span>
                <span class="buttons">
                    <button ng-disabled="upDisabled(node)" ng-click="moveUp(node)">[[[translate NodeUp]]]</button>
                    <button ng-disabled="downDisabled(node)" ng-click="moveDown(node)">[[[translate NodeDown]]]</button>
                    <button ng-disabled="leftDisabled(node)" ng-click="moveLeft(node)">[[[translate NodeLeft]]]</button>
                    <button ng-disabled="rightDisabled(node)" ng-click="moveRight(node)">[[[translate NodeRight]]]</button>
                    <button ng-if="hasSettings(node)" ng-click="changeSettings(node)">[[[translate NodeSettings]]]</button>
                    <button ng-click="createNode(node)">[[[translate AddChild]]]</button>
                    <button ng-if="canBeDeleted(node)" ng-click="deleteNode(node)">[[[translate Delete]]]</button>
                    <a href="{{nodeAccessPage(node)}}" ng-click="navigateToView(nodeAccessPage(node))">[[[translate EditAccess]]]</a>
                </span>
            </div>
        </li>
    </ul>
    <div class="bg-danger dialog-notification" ng-if="updateError.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span ng-bind="updateError"></span>
    </div>
    <div ng-if="updateProgress">
        <span us-spinner="{radius:3,width:2,length:4,lines:9,top:0,left:0}"></span>
        <span>[[[translate Updating]]]</span>
    </div>
</div>