.cell-subject {
    border-bottom: solid 1px #ccc;
    margin-bottom: 1em;
    font-size: smaller;
}

.cell-text img {
    max-width: 600px;
    max-height: 500px;
}

@media (max-width: 767px) {
    .cell-text img {
        max-width: 400px;
        max-height: 300px;
    }
}

@media (max-width: 500px) {
    .cell-text img {
        max-width: 300px;
        max-height: 200px;
    }
}

blockquote[data-from] {
    font-size: 9pt;
    display: block;
    margin: 5px 0;
    border-left: solid 3px #ddd;
    padding: 0 0 0 1em;
}

.allforums-control {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.allforums-control tr.delimiter {
    height: 2em;
}

.allforums-control td, .allforums-control th {
    padding: 7px;
    padding-left: 10px;
}

.allforums-control tr:not(.delimiter) td {
    border-bottom: solid 1px #ddd;
}

.allforums-control tr:last-child td {
    border-bottom: solid 1px #aaa;
}

.allforums-control th {
    font-weight: normal;
    font-size: smaller;
    border-bottom: solid 1px #aaa;
}

.allforums-control td:not(.header-forum):first-child {
    padding-left: 25px;
}

.allforums-control .header-forum {
    background: #f2f2f2;
}

.allforums-control .header-forum:first-child {
    font-size: larger;
}

.allforums-control ul {
    margin-left: 1.5em;
    margin-bottom:0;
    padding: 0;
    display: block;
}

.allforums-control li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    font-size:x-small;
}

.allforums-control li:not(:last-child):after {
    content: ";";
    margin-left: 0;
    margin-right: 0.6em;
}

.allforums-control td:last-child {
    font-size: smaller;
    color: #888;
}

.allforums .allforums-control {
    margin-bottom: 2.5em;
}

.allforums-control .forum-description {
    font-size: smaller;
}

.post-avatar {
    margin: 0.5em 0;
}

.post-avatar img {
    border: solid 1px #ccc;
    padding: 1px;
}

.thread-title {
    font-size: larger;
}

.thread-statistics {
    font-size: smaller;
}

.forum-cell {
    padding: 12px 5px !important;
}

.post-attachments {
    border-top: solid 1px #eee;
    margin-top: 5px;
    padding: 5px 0;
}

.post-attachments ul, .post-attachments li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.post-attachments li:not(:first-child):before {
    content: ", ";
}

.thread-unread {
    font-size: x-small;
    color: #128012;
}

.thread-active-users ul, .thread-active-users li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.thread-active-users li {
    margin-right: 1em;
}

.post-signature {
    margin: 1em 0;
    font-size: smaller;
    color: #888;
}

.signature-delimiter {
    width: 200px;
    border-top: solid 1px #ccc;
    display: block;
    padding-bottom: 0.5em;
}

.allforums-statistics {
    border: solid 1px #ccc;
    width: 100%;
    margin-bottom: 1em;
}

.allforums-statistics td {
    padding: 0.5em;
    border-bottom: solid 1px #ccc;
}

.allforums-statistics .section-name {
    font-weight: bold;
}

.allforums-statistics .active-user {
    display: inline-block;
    margin-right: 1em;
}

.allforums-statistics .active-user:not(:first-child):before {
    content: ",";
}

.allforums-statistics .entry-name {
    font-weight: normal;
}

.allforums-statistics .entry-value {
    font-weight: bold;
    padding-right: 1em;
}
