Subject: New User Created

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>{Subject}</title>
    </head>
    <body>
        <p>Dear Administrator,</p>
        <p>New user was registered in the system:</p>
        <dl>
            <dt>User ID:</dt>
            <dd>{UserId}</dd>
            <dt>Name:</dt>
            <dd>{Name}</dd>
            <dt>Email:</dt>
            <dd>{Email}</dd>
        </dl>
        <p>Have a nice day!</p>
    </body>
</html>