Subject: New User Created

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>New User Created</title>
    </head>
    <body>
        <p>Dear User,</p>
        <p>This is notification that a new user is created for your e-mail address on web site {SiteName}.</p>
        <p>Please use the following information to log in:</p>
        <dl>
            <dt>Email:</dt>
            <dd>{Email}</dd>
            <dt>Password:</dt>
            <dd>{Password}</dd>
        </dl>
        <p>Have a nice day!</p>
    </body>
</html>
