<div ng-controller="allforums" class="allforums">
    <table class="allforums-control" ng-if="groups.length > 0">
        <tbody ng-repeat="group in groups">
            <tr ng-if="groups.indexOf(group) > 0" class="delimiter">
                <td colspan="2"></td>
            </tr>
            <tr>
                <th width="60%"><span ng-if="isSubForum">[[[translate ChildForums]]]</span><span ng-if="!isSubForum">[[[translate Forums]]]</span></th>
                <th>[[[translate Statistics]]]</th>
            </tr>
            <tr ng-repeat="forum in group track by $index">
                <td ng-class="{'header-forum' : forum.isHeader}">
                    <div class="thread-title"><a href="{{forum.path}}" ng-click="navigateToView(forum.path)" ng-bind="forum.title"></a></div>
                    <div class="forum-description" ng-if="forum.description"><span ng-bind="forum.description"></span></div>
                    <ul ng-if="forum.children.length > 0">
                        <li ng-repeat="child in forum.children">
                            <a href="{{child.path}}" ng-click="navigateToView(child.path)">{{child.title}}</a>
                        </li>
                    </ul>
                </td>
                <td ng-class="{'header-forum' : forum.IsHeader}">
                    <div ng-if="forum.threads > 0">[[[translate Threads]]]: {{forum.threads}}</div>
                    <div ng-if="forum.posts > 0">[[[translate Posts]]]: {{forum.posts}}</div>
                    <div ng-if="forum.posts == 0 && forum.threads == 0">[[[translate ForumIsEmpty]]]</div>
                    <div ng-if="forum.lastAuthorId">
                        <a href="{{forum.lastThreadUrl+'?p=last'}}" ng-click="navigateToView(forum.lastThreadUrl+'?p=last')">[[[translate LastPost]]]</a>: [[[translate LastPostCreated]]] <span title="{{forum.lastCreated | date:'medium'}}">{{forum.lastCreated | relativeDate}}</span> [[[translate LastPostBy]]]
                        <a href="{{forum.lastAuthorUrl}}" ng-click="navigateToView(forum.lastAuthorUrl)">{{forum.LastAuthorName}}</a> [[[translate LastPostIn]]] <a href="{{forum.lastThreadUrl}}" ng-click="navigateToView(forum.lastThreadUrl)">{{forum.lastThreadTitle}}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="allforums-statistics" ng-if="showStatistics">
        <tr>
            <td class="section-name">[[[translate ActiveUsers]]]</td>
            <td>
                <span ng-if="activeUsers.length == 0">[[[translate NoActiveUsers]]]</span>
                <span ng-repeat="user in activeUsers" class="active-user">
                    <a href="{{user.url}}" ng-click="navigateToView(user.url)">user.name</a>
                </span>
            </td>
        </tr>
        <tr>
            <td class="section-name">[[[translate Statistics]]]</td>
            <td>
                <span ng-repeat="entry in statistics"><span class="entry-name">{{entry.name}}</span>: <span class="entry-value">{{entry.value}}</span></span>
            </td>
        </tr>
    </table>
</div>
