<div ng-controller="allforums" class="allforums">
    <table class="allforums-control" ng-if="groups.length > 0">
        <tbody ng-repeat="group in groups">
            <tr ng-if="groups.indexOf(group) > 0" class="delimiter">
                <td colspan="2"></td>
            </tr>
            <tr>
                <th width="60%"><span ng-if="isSubForum">[[[translate ChildForums]]]</span><span ng-if="!isSubForum">[[[translate Forums]]]</span></th>
                <th>[[[translate Statistics]]]</th>
            </tr>
            <tr ng-repeat="forum in group track by $index">
                <td ng-class="{'header-forum' : forum.IsHeader}">
                    <div class="thread-title"><a href="{{forum.Path}}" ng-click="navigateToView(forum.Path)" ng-bind="forum.Title"></a></div>
                    <div class="forum-description" ng-if="forum.Description"><span ng-bind="forum.Description"></span></div>
                    <ul ng-if="forum.Children.length > 0">
                        <li ng-repeat="child in forum.Children">
                            <a href="{{child.Path}}" ng-click="navigateToView(child.Path)">{{child.Title}}</a>
                        </li>
                    </ul>
                </td>
                <td ng-class="{'header-forum' : forum.IsHeader}">
                    <div ng-if="forum.Threads > 0">[[[translate Threads]]]: {{forum.Threads}}</div>
                    <div ng-if="forum.Posts > 0">[[[translate Posts]]]: {{forum.Posts}}</div>
                    <div ng-if="forum.Posts == 0 && forum.Threads == 0">[[[translate ForumIsEmpty]]]</div>
                    <div ng-if="forum.LastAuthorId">
                        <a href="{{forum.LastThreadUrl+'?p=last'}}" ng-click="navigateToView(forum.LastThreadUrl+'?p=last')">[[[translate LastPost]]]</a>: [[[translate LastPostCreated]]] <span title="{{forum.LastCreated | date:'medium'}}">{{forum.LastCreated | relativeDate}}</span> [[[translate LastPostBy]]]
                        <a href="{{forum.LastAuthorUrl}}" ng-click="navigateToView(forum.LastAuthorUrl)">{{forum.LastAuthorName}}</a> [[[translate LastPostIn]]] <a href="{{forum.LastThreadUrl}}" ng-click="navigateToView(forum.LastThreadUrl)">{{forum.LastThreadTitle}}</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
