<div class="cell-subject">
    <span>[[[translate Created]]]:</span>
    <span title="{{data.created | date:'medium'}}">{{data.created | relativeDate}}</span>
</div>
<div ng-bind-html="data.safeText" class="cell-text">
</div>
<div ng-if="data.user && data.user.signature" class="post-signature">
    <span class="signature-delimiter"></span>
    <span ng-bind-html="data.user.signature"></span>
</div>
<div ng-if="data.attachments && data.attachments.length" class="post-attachments">
    <span>[[[translate Attachments]]]:</span>
    <ul>
        <li ng-repeat="attachment in data.attachments"><a href="{{attachment.url}}" target="_attachment">{{attachment.fileName}}</a></li>
    </ul>
</div>