<div>
    <a ng-if="data.Profile && data.Profile.length" href="{{data.Profile}}" ng-click="navigateToView(data.Profile); $event.stopPropagation();" ng-bind="data.Name"></a>
    <span ng-if="!data.Profile || !data.Profile.length" ng-bind="data.Name"></span>
</div>
<div ng-if="data.Avatar && data.Avatar.length">
    <img ng-src="{{data.Avatar}}"/>
</div>
<div>
    [[[translate Posts]]]: {{data.Posts}}
</div>
<div ng-repeat="property in data.Properties">
    {{property.Name}}: {{property.Value}}
</div>
