<div>
    <div ng-if="data.Profile && data.Profile.length">
        <a href="{{data.Profile}}" ng-click="navigateToView(data.Profile); $event.stopPropagation();"><span ng-bind="data.Name"></span></a>
    </div>
    <div ng-if="!data.Profile || !data.Profile.length">
        <span>[[[translate UserRemoved]]]</span>
    </div>
</div>
<div ng-if="data.Avatar && data.Avatar.length">
    <img ng-src="{{data.Avatar}}" class="img-thumbnail"/>
</div>
<div ng-if="data.Posts">
    <span>[[[translate Posts]]]: {{data.Posts}}</span>
</div>
<div ng-repeat="property in userProperties">
    <span ng-if="data.Properties.hasOwnProperty(property.Name) && data.Properties[property.Name]">
        {{property.Title}}:
        <span ng-switch="property.Type">
            <span ng-switch-when="Date">{{data.Properties[property.Name] | localeDate}}</span>
            <span ng-switch-default>{{data.Properties[property.Name]}}</span>
        </span>
    </span>
</div>
