<div class="cell-subject">
    <span>[[[translate Created]]]:</span>
    <span title="{{data.Created | date:'medium'}}">{{data.Created | relativeDate}}</span>
</div>
<div ng-bind-html="data.safeText" class="cell-text">
</div>
<div ng-if="data.user && data.user.Signature" class="post-signature">
    <span class="signature-delimiter"></span>
    <span ng-bind="data.user.Signature"></span>
</div>
<div ng-if="data.Attachments && data.Attachments.length" class="post-attachments">
    <ul>
        <li ng-repeat="attachment in data.Attachments"><a href="{{attachment.Url}}" target="_attachment">{{attachment.FileName}}</a></li>
    </ul>
</div>