<div>
    <div ng-if="data.profile && data.profile.length">
        <a href="{{data.profile}}" ng-click="navigateToView(data.profile); $event.stopPropagation();"><span ng-bind="data.name"></span></a>
    </div>
    <div ng-if="!data.profile || !data.profile.length">
        <span>[[[translate UserRemoved]]]</span>
    </div>
</div>
<div ng-if="data.avatar && data.avatar.length">
    <img ng-src="{{data.avatar}}" class="img-thumbnail"/>
</div>
<div ng-if="data.posts">
    <span>[[[translate Posts]]]: {{data.posts}}</span>
</div>
<div ng-repeat="property in userProperties">
    <span ng-if="data.properties.hasOwnProperty(property.name) && data.properties[property.name]">
        {{property.title}}:
        <span ng-switch="property.type">
            <span ng-switch-when="Date">{{data.properties[property.name] | localeDate}}</span>
            <span ng-switch-default>{{data.properties[property.name]}}</span>
        </span>
    </span>
</div>
