<div class="thread-title">
    <a href="{{data.Path}}" ng-click="navigateToView(getFullPath(data.Path)); $event.stopPropagation();">
        <span ng-bind="data.Name"></span>
        <span ng-if="data.Unread" class="thread-unread">{{data.Unread}} [[[translate ThreadUnread]]]</span>
    </a>
</div>
<div ng-bind="data.Description" class="thread-statistics">
</div>
<div ng-if="data.Author" class="thread-statistics">
    [[[translate Created]]] <span title="{{data.Created | date:'medium'}}">{{data.Created | relativeDate}}</span> [[[Translate LastPostBy]]] <a href="{{data.AuthorUrl}}" ng-click="navigateToView(data.AuthorUrl); $event.stopPropagation();">{{data.Author}}</a>
</div>
<div ng-if="data.ActiveUsers && data.ActiveUsers.length" class="thread-active-users thread-statistics">
    <span>[[[translate CurrentlyViewing]]]:</span>
    <ul ng-repeat="user in data.ActiveUsers">
        <li><a href="{{user.ProfileUrl}}" ng-click="navigateToView(user.ProfileUrl); $event.stopPropagation();" ng-bind="user.Name"></a></li>
    </ul>
</div>
