@{
    /* This Source Code Form is subject to the terms of the Mozilla Public
     * License, v. 2.0. If a copy of the MPL was not distributed with this
     * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
    
    Layout = null;
}
@using System.Web.Mvc.Html
<div ng-controller="DialogPageController">
    @Html.Partial("~/Views/Structure/InputFormTemplateBody.cshtml")
    <div class="dialog-buttons">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="!hasChanges || isApplying">
            <span>Apply</span>
            <span us-spinner="{radius:3,width:2,length:4,lines:9,color:'#fff',top:0,left:0}" ng-show="isApplying"></span>
        </button>
    </div>
</div>
