<div class="row flat-design">
    <div class="col-md-3">
        <ul class="nav" affix>
            <li ng-repeat="node in tree">
                <a href="#{{node.Anchor}}" ng-bind="node.Title"></a>
                <ul ng-if="node.Children.length > 0">
                    <li ng-repeat="child in node.Children">
                        <a href="#{{child.Anchor}}" ng-bind="child.Title"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ng-repeat="page in flat">
            <h2 ng-bind="page.Title"></h2>
            <div bind-compiled-html="{name: page.UniqueId, scope: function() { getPageScope(page) }, html: page.ViewBody}"></div>
        </div>
    </div>
</div>