<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.lessmarkup.com/LessMarkup/EngineConfiguration">
  <Properties>
    <Property>
      <Name>SafeMode</Name>
      <Value>False</Value>
    </Property>
    <Property>
      <Name>Database</Name>
      <Value>Server=localhost;Database=LessMarkup;User Id=user;Password=pwd;MultipleActiveResultSets=True;</Value>
    </Property>
    <Property>
      <Name>RecordsPerPage</Name>
      <Value>10</Value>
    </Property>
    <Property>
      <Name>AuthCookieName</Name>
      <Value>ThetaAuth</Value>
    </Property>
    <Property>
      <Name>AuthCookiePath</Name>
      <Value>/</Value>
    </Property>
    <Property>
      <Name>AuthCookieTimeout</Name>
      <Value>15</Value>
    </Property>
    <Property>
      <Name>AutoRefresh</Name>
      <Value>True</Value>
    </Property>
    <Property>
      <Name>LogLevel</Name>
      <Value>Debug</Value>
    </Property>
    <Property>
      <Name>AdminLoginPage</Name>
      <Value>Login</Value>
    </Property>
    <Property>
      <Name>ModuleSearchPath</Name>
      <Value></Value>
    </Property>
    <Property>
      <Name>RecaptchaPublicKey</Name>
      <Value></Value>
    </Property>
    <Property>
      <Name>RecaptchaPrivateKey</Name>
      <Value></Value>
    </Property>
    <Property>
      <Name>SmtpSsl</Name>
      <Value>False</Value>
    </Property>
    <Property>
      <Name>UseTestMail</Name>
      <Value>True</Value>
    </Property>
    <Property>
      <Name>NoReplyEmail</Name>
      <Value>noreply@noreply.noreply</Value>
    </Property>
    <Property>
      <Name>NoReplyName</Name>
      <Value>No Reply</Value>
    </Property>
  </Properties>
</Configuration>